*~
.idea
scala/.bsp
scala/project/target
scala/target
clojure/target
clojure/.lein-failures
clojure/.nrepl-port
clojure/TEST*.xml
python/src/__pycache__
clojure/.DS_Store
python/.DS_Store
scala/.DS_Store
.DS_Store
clojure/pom.xml
python/tests/__pycache__
.clj-kondo/.cache
.lsp/.cache
scala/project/project/target
